{% extends 'base.html.twig' %}

{% block title %}Mon Compte
{% endblock %}

{% block body %}
	<h1>Mon Compte</h1>
	{{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}
	{{ form_row(form.email) }}
	{{ form_row(form.firstname) }}
	{{ form_row(form.lastname) }}
	{{ form_row(form.password) }}
	{{ form_row(form.save) }}
	{{ form_end(form) }}


{% endblock %}
