{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}

	<form class="row g-3 " method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.username }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}
		<h1 class="h3 mb-3 font-weight-normal">Indentifiant</h1>
		<div class="col-auto">
			<label for="inputEmail">E-mail</label>
			<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control form-control-sm" autocomplete="email" required autofocus>
		</div>
		<div class="col-auto">
			<label for="inputPassword">Password</label>
			<input type="password" name="password" id="inputPassword" class="form-control form-control-sm" autocomplete="current-password" required>
		</div>
		<div class="col-auto">

			<button class="btn btn-outline-success btn-sm my-4 " type="submit">
				Valider
			</button>
		</div>
		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
	</form>

{% endblock %}
