{% extends 'admin/layout.html.twig' %}

{% block title %}
	Personnage |
	{{parent()}}
{% endblock %}

{% block content %}

	<div class="container">
		<h1>Liste des personnages</h1>
		<div class="example-wrapper">
			<ul>
				<h3></h3>
				{% for character in charactersList %}
					<div class="p-1">
						<li>
							<a href=" {{ path('admin_characters_show', {id:character.id} ) }}">
								{{ character.firstname}}
								{{ character.lastname}}</a>
						</li>
					</div>

				{% endfor %}
			</ul>
		</div>
		<a href="{{ path('admin_characters_add') }}">
			<button type="button" class="btn btn-outline-success btn-sm rounded-pill">Nouveau Personnage</button>
		</a>
	</div>
{% endblock %}
