{% extends 'base.html.twig' %}

{% block title %}Serie :
	{{tvshow.title}}
{% endblock %}

{% block body %}

	<section class="py-5 text-center container">
		<div class="row py-lg-5">
			<div class="col-lg-6 col-md-8 mx-auto">
				<h1 class="fw-light">{{tvshow.title}}</h1>
				<!--	<img src="#" alt="" height="400">-->
				<img src="{{Omdb.Poster}}" alt="" height="400">
				<p class="lead text-muted">
					<a href="#">
						{% for season in tvshow.seasons %}
							<span class="badge bg-secondary">Saison
								{{ season.seasonNumber}}</span>
						{% endfor %}
					</a>
				</p>
				<p class="lead text-muted">
					Avec :
					{% for personnage in tvshow.characters %}
						<a href="#">{{ personnage.firstname}}{{ personnage.lastname}}</a>,
					{% endfor %}
					<br>
					Categories :
					<em
						class="text-danger">
						<!--	{% for category in tvshow.catgoriess %}
																										{{ category.name}}
																									{% endfor %}>-->
						{{Omdb.Genre}}

					</em>
				</p>
			</div>

			<div class="py-5 bg-light">
				Synopsis :
				<div class="container lead text-muted py-5 ">

					<p>{{tvshow.synopsis}}</p>
				</div>
			</div>
		</section>
	{% endblock %}
